// header

#header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 2px solid rgb(0, 168, 210);
  background-color: rgba(29, 29, 29, 0.7);
  color: white;
  height: 10vh;

  .logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    color: white;
    transition: 0.2s ease;

    i {
      font-size: 30px;
    }

    &:hover {
      color: rgb(0, 168, 210);
    }
  }
  .pages {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 25px;
    .links {
      text-decoration: none;
      color: white;
      transition: 0.2s ease;
      display: flex;
      gap: 5px;
      align-items: center;

      &:hover {
        color: rgb(0, 168, 210);
      }
    }
  }
}

.container {
  width: 1000px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;

  .backtopostsDiv{
      display: flex;
  }
  .backtoposts{
      text-decoration: none;
      color: black;
      background-color: rgb(235, 235, 235);
      padding: 15px 25px;
      &:hover{
        background-color: rgb(186, 186, 186);
      }
  }

  // texts
  .texts {
    h1 {
      color: rgb(0, 168, 210);
      font-size: 50px;
    }
    .info {
      display: flex;
      align-items: center;
      i,
      h2 {
        font-size: 35px;
      }
    }
  }
  .text_saysomething {
    background-color: rgb(0, 168, 210);
    padding: 0.7rem;
    color: white;
  }
  .form {
    .textarea {
      width: 100%;
      font-size: 25px;
      outline: none;
      padding: 0.5rem;
      border-radius: 5px;
    }
    button {
      padding: 10px 28px;
      font-size: 25px;
      border-radius: 8px;
      border: 2px solid rgb(0, 168, 210);
      background-color: rgb(0, 168, 210);
      color: white;
      cursor: pointer;
      transition: 0.2s ease;

      &:hover {
        background-color: rgb(0, 187, 234);
      }
    }
  }
  .userposts {
    margin-top: 1rem;
    border: 1.2px solid;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 3rem;
  
    .linktoprofile{
      text-decoration: none;
      color: black;
    }
  
    .img_name {
      display: flex;
      align-items: center;
      flex-direction: column;
      width: 200px;
      
      img {
        border-radius: 50%;
        width: 150px;
      }
      p {
        font-size: 30px;
        text-align: center;
      }
    }
  
    .btns {
      display: flex;
      align-items: center;
  
      .like,
      .dislike {
        background-color: rgb(192, 192, 192);
        padding: 5px 12px;
        color: white;
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 22px;
        border: 2px solid grey;
        cursor: pointer;
      }
  
      .like {
        border-right: none;
        border-radius: 30px 0px 0px 30px;
        span{
          font-size: 18px;
        }
      }
      .dislike {
        border-radius: 0px 30px 30px 0px;
        // font-size: 26px;
      }
      .linktodiscussion{
        text-decoration: none;
      }
  
      .discussion {
        margin-left: 2rem;
        background-color: rgb(0, 168, 210);
        padding: 10px 12px;
        color: white;
        cursor: pointer;
        span {
          background-color: white;
          color: rgb(0, 168, 210);
          padding: 3px 5px;
          border-radius: 8px;
        }
      }
  
      .removepost {
        margin-left: 2rem;
        background-color: red;
        color: white;
        padding: 5px 8px;
        font-size: 25px;
        display: flex;
        align-items: center;
      }
    }
  }
}

.d_container {
  width: 1100px;
  margin: 20px auto;
  h1 {
    font-size: 45px;
    color: rgb(0, 168, 210);
  }
  h2 {
    display: flex;
    align-items: center;
    font-size: 35px;
  }

  .button {
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 8px;
    border: 2px solid rgb(0, 168, 210);
    background-color: rgb(0, 168, 210);
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
    text-decoration: none;

    &:hover {
      background-color: rgb(0, 187, 234);
    }
  }

  .addoredits {
    margin-top: 1rem;
    display: flex;
    gap: 3rem;

    .link {
      text-decoration: none;
      color: black;
    }

    .editProfile,
    .addExperience,
    .addEducation {
      display: flex;
      align-items: center;
      font-size: 22px;
      gap: 10px;
      background-color: rgb(232, 232, 232);
      padding: 10px 15px;

      i {
        color: rgb(0, 168, 210);
      }
    }
  }

  .expCredentials,
  .eduCreadentials {
    // .top{
    //   display: flex;
    //   align-items: center;
    //   gap: 1rem;
    //   div{
    //     .top{
    //         background-color: rgb(215, 215, 215);
    //         padding: 10px 15px;
    //         font-size: 22px;
    //         text-align: center;
    //         height: 2.8rem;
    //     }
    //     .bottom{
    //       text-align: center;

    //     }
    //     .delete{
    //       padding: 10px 15px;
    //       background-color: red;
    //       color: white;
    //       margin-left: 20px;
    //       transform: translateY(30px);
    //       border-radius: 4px;
    //       cursor: pointer;
    //     }

    //   }
    // }

    .thead {
      th{
        background-color: rgb(215, 215, 215);
        font-size: 22px;
        padding: 10px 15px;
      }
    }
    .tbody{
      td{
        padding: 15px 20px;
      }
      button{
        background-color: red;
        color: white;
        border: none;
        padding: 15px 20px;
        font-size: 20px;
        border-radius: 5px;
        cursor: pointer;
        &:hover{
          background-color: rgb(255, 94, 94);
        }
      }
    }
  }

  .delete {
    background-color: red;
    border: none;
    font-size: 22px;
    color: white;
    padding: 10px 15px;
    &:hover {
      background-color: rgb(255, 84, 84);
    }
  }
}

.cp_container {
  width: 1200px;
  margin: 20px auto;
  position: relative;
  overflow: hidden;

  .texts {
    h1 {
      color: rgb(0, 168, 210);
      font-size: 45px;
    }
    div {
      display: flex;
      align-items: center;
      font-size: 30px;
    }
  }

  #inputs {
    margin-top: 1rem;
    select {
      width: 100%;
      height: 2.5rem;
      font-size: 25px;
    }
    input {
      width: 100%;
      height: 2.5rem;
      font-size: 22px;
      padding: 5px;
    }
    p {
      margin-top: 5px;
      color: rgb(161, 161, 161);
      font-size: 15px;
    }
    textarea {
      width: 100%;
      font-size: 27px;
      padding: 15px;
    }

    .checkbox {
      width: 10%;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 18px;
    }
  }

  .btn_social {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    button {
      border: none;
      padding: 10px 15px;
      font-size: 22px;
      cursor: pointer;
    }
  }
  .btns_submitandgoback {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    button {
      border: none;
      background-color: rgb(0, 168, 210);
      color: white;
      padding: 10px 25px;
      font-size: 22px;
      cursor: pointer;
    }
    .link {
      background-color: rgb(224, 224, 224);
      color: black;
      padding: 10px 25px;
      font-size: 22px;
      text-decoration: none;
    }
  }
  .socialUrls {
    .logoandurl {
      margin-top: 1rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      input {
        height: 2.5rem;
        width: 100%;
        font-size: 25px;
        padding: 5px;
      }
      i {
        font-size: 35px;
      }
    }
  }
  .block {
    display: none;
  }
}

.background{
  z-index: -1;
  background-color: rgb(170, 170, 170);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
}
.nf_container{
  margin-top: 7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  div{
    display: flex;
    align-items: center;
    gap: 1rem;
    i{
      font-size: 90px;
    }
  }
  h1{
    font-size: 100px;
  }
  h2{
    font-size: 80px;
  }

}
